<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8897150125-4gev625bd7fncvpda2vqul210if0bl5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8897150125-4gev625bd7fncvpda2vqul210if0bl5o</string>
	<key>API_KEY</key>
	<string>AIzaSyC2C_XGhmsmOU9_SwzAd0rRg4_aCC2W8tw</string>
	<key>GCM_SENDER_ID</key>
	<string>8897150125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proglabs.foodapp.corvit</string>
	<key>PROJECT_ID</key>
	<string>corvit-fa83d</string>
	<key>STORAGE_BUCKET</key>
	<string>corvit-fa83d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8897150125:ios:5e6d2fa0ca0c33204d1a24</string>
</dict>
</plist>